.varauskalenteri-calendar {
    width: auto;
}

.calendar-tile-reserved {
    background-color:#ff8585;
    color: #800000;
}

.calendar-tile-free {
    color: #333;
}

.example-day {
    display: inline;
    margin-bottom: 10px;
}

.example-day img {
    width: 50px;
    height: 40px;
    vertical-align: middle;
}

.example-day span {
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .example-day {
        display: block;
    }
}