body {
  color: #333;
  font-size: 1.4rem;
}

hr {
  border: 1px solid #3336;
  margin: 30px;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

#main-front-page {
  display: grid;
  grid-template-areas:  "header header"
                        "lista kalenteri"
                        "uusi uusi";
  grid-template-rows: 10vh 90vh 100vh;
}

header {
  grid-area: header;
  background-color: #78ae93;
  color: #444;
  line-height: 10vh;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header h1 {
  margin: 0px;
  margin-left: 40px;
}

section h1 {
  margin-top: 5px;
}

#varauslista-container {
  grid-area: lista;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  min-width: 40vw;
}

#varauslista {
  height: 70%;
  overflow-y: auto;
  box-shadow:         inset 0px -10px 20px #33333355;
  border-bottom: 1px solid #333333AA;
}

#uusivaraus-nappi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#varauskalenteri-container {
  grid-area: kalenteri;
  display: flex;
  justify-content: center;
  min-width: 50vw;
}

#varauslista ul, ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#varauslista li {
  border-left: 4px solid #8dc2e1;
  padding-left: 20px;
}

#varauslista li h3 {
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#varauslista li p {
  margin-top: 5px;
  margin-bottom: 0px;
}

#varauskalenteri {
  max-height: 400px;
  width: 50%;
}

#uusi-varaus-container {
  grid-area: uusi;
  grid-column: 1 / span 2;

}

#uusi-varaus-flex {
  display: flex;
}

#uusi-varaus-kalenterit-flex {
  display: flex;
}

#uusi-varaus {
  
}

#uusi-varaus h1 {
  grid-row: 1 / 1;
  grid-column: 1 / span 3;
  padding-left: 40px;
}

#uusi-varaus-form {
  width: 300px;
}

#uusi-varaus-form input, textarea {
  height: 20px;
  border-radius: 5px;
  border: 2px solid #333333AA;
  margin: 10px 0px;
  background-color: #dee;
  padding: 10px;
  font-size: 1.1rem;
}


#uusi-varaus-btn {
  width: 250px;
  font-size: 1.2rem;
  font-weight: bold;
}



.container {
  padding: 40px;
}

.container-side {
  padding: 0px 40px;
}

.btn {
  margin: 15px 0px;
  padding: 15px;

  font-size: 1.0rem;
  border: 2px solid #2224;
  border-radius: 10px;
  outline: 0;

  background-color: #8dc2e1;
  color: #024267;

  text-transform: uppercase;
  letter-spacing: 2px;

  -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.75);
  transition: background-color 0.1s, box-shadow 0.1s;
}

.btn:active {
  background-color: #76b1d3;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.4);
}

.dark-bg {
  background-color: #454b5b;
  color: #eee;
}

.light-bg {
  background-color: #545c6f;
  color: #eee;
}

.lighter-bg {

}


.darker-bg {
  background-color: #0b3d5b;
  color: #eee;
  border: 2px solid #eeeeee77;
}

.primary-bg {
  background-color: #8dc2e1;
  color: #024267;
}

.bottom-spacer {
  margin-bottom: 25px;
}

.info-box {
  border: 1px dashed #333333CC;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}


/***** MEDIA QUERIES *****/

@media screen and (max-width: 1200px) {

  #main-front-page {
    display: grid;
    grid-template-areas:  "header"
                          "kalenteri"
                          "lista"
                          "uusi";
    grid-template-rows: 10vh 90vh auto auto;
    grid-template-columns: 1fr;
  }

  #uusivaraus-nappi {
    height: 130px;
  }

  #uusi-varaus-flex {
    flex-direction: column-reverse;
  }

  #varauslista-container {
    max-width: 100%;
  }

  #varauslista {
    height: auto;
    min-height: 200px;
    box-shadow: none;
    border-bottom: none;
  }

}


@media screen and (max-width: 950px) {

  #uusi-varaus-kalenterit-flex {
    flex-direction: column;
  }

  #uusi-varaus-flex {
    align-items: center;
  }

  #uusi-varaus h1,h2 {
    text-align: center;
    padding: 0px;
  }

  #varauskalenteri {
    width: 80%;
  }
}


@media screen and (max-width: 700px) {

  body {
    font-size: 1.0rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #varauskalenteri {
    width: 95%;
  }

  #uusi-varaus {
    padding: 40px 0px;
  }

  .container-side {
    padding: 0px;
  }
}


