body {
  color: #333;
}

#main-front-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh 100vh;
}

#varauslista-container {
  height: 100vh;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#varauskalenteri-container {
  height: 100vh;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
}

#varauslista ul, ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#varauslista li {
  border-left: 3px solid #5d9fd0;
  padding-left: 15px;
}

#varauskalenteri {
  max-height: 400px;
}

#uusi-varaus-container {
  background-color: #454b5b;
  grid-column: 1 / span 2;
}

#uusi-varaus {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

#uusi-varaus-form {
  width: 300px;
  padding: 0px 40px;
}

#uusi-varaus-form input, textarea {
  width: 100%;
}


#uusi-varaus-btn {
  width: 80%;
  margin: 40px 10%;
  background-color: #5d9fd0;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 0;
}

.container {
  padding: 40px;
}

.btn {
  margin: 30px 0px;
  padding: 15px;
  font-size: 1.0rem;
  border: none;
  border-radius: 5px;
}

.dark-bg {
  background-color: #454b5b;
  color: #eee;
}

.light-bg {
  background-color: #eee;
  color: #333;
}
