#main-front-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh 100vh;
}

#varauslista-container {
  height: 100vh;
  background-color: #eee;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#varauskalenteri-container {
  background-color: #32322d;
  height: 100vh;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
}

#varauslista ul, ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#varauskalenteri {
  max-height: 400px;
}

#uusi-varaus-container {
  background-color: #32322d;
  grid-column: 1 / span 2;
}



#uusi-varaus-btn {
  margin: 40px 0px;
  width: 100%;
  background-color: #5d9fd0;
}

.container {
  padding: 40px;
}

.btn {
  padding: 15px;
  font-size: 1.0rem;
  border: none;
  border-radius: 5px;
}

.btn:active {
  border: 5px solid #00000021;
}